.filter{

  ul{
    margin: 0 auto;
    display: flex;
  justify-content: center;
flex-wrap: wrap;}

  li{
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    @include tablet{
      width: 20%;
    }

    @include phone{
      width: 100%;
    }
    img{

      width:100%;
      max-width: 400px;
      height: auto;
    }
  }
}

.invisible{
  display: none!important;
};
